
.content{
    margin: 0 0 0.75rem;
}
.top-header{
    margin: 0.32rem 0;
}
.top-header img{
    margin: 0.25rem auto;
	height:0.72rem;
}
.goods-name,.goods-box .border-1,.goods-price li{
    border: 0.04rem solid #D8E6EC;
    border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
}
.goods-name{
    margin: 0.08rem;
    font-size: 0.20rem;
    line-height: 0.44rem;
    height: 1.12rem;
} 
.goods-name.selected{
   border:0.04rem solid #277ED2;
}
.goods-name .goods-c-price{
    font-size: 0.24rem;
    line-height: 0.4rem;
}
.goods-description{
	min-height: 0.6rem;
    font-size: 0.24rem;
    line-height: 0.4rem;
    text-indent: 0.2rem;
    margin: 0.2rem 0;
    border: 0.04rem solid #F1FBFF;
    border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
}
.goods-detail{
    font-size: 0.2rem;
    line-height: 0.3rem;
}
.goods-detail img{
	width: 100%;
    display: inline;
    float: left;
}
.goods-box li div{
    height: 0.52rem;
}

.goods-box .border-1{
	margin: 0.1rem 0 0.2rem;
    font-size: 0.24rem;
    height: 0.56rem;
    line-height: 0.52rem;
    text-indent: 0.1rem;
}
.goods-numberbox{
    position: relative;
}
.goods-box li div .ipt-main{
    position: relative;
    font-size: 0.26rem;
    line-height: 0.36rem;
    height: 0.5rem;
    padding: 0 0.6rem 0 0.2rem;
}
.goods-box li div .inpt-minus{
	width: 0.34rem;
    height: 0.48rem;
    background-size: 0.34rem 0.34rem;
}
.goods-box li div .inpt-plus{
	width: 0.34rem;
    height: 0.44rem;
    right: 0.2rem;
    background-size: 0.34rem 0.34rem;
}
.footer{
	height:0.75rem;
}
.base-btn{
    text-shadow: 1px 1px #4d330b;
}
.base-btn span{
    font-size: 0.36rem;
    line-height: 0.75rem;
}
.base-btn label {
	font-size: 0.4rem;
    font-weight: bold;
    line-height: 0.75rem;
    margin: 0 0.2rem;
    text-shadow: 0.3px 0.4px #790303;
}
.goods-price li{
	height:0.52rem;
	margin: 0.16rem 0;
}
.ipt-both.active{
   border:0.04rem solid #00a0e9;
}
.goods-price li li{
    font-size: 0.23rem;
    line-height: 0.52rem;
}
.goods-price li li img:nth-child(1){
	width:0.24rem;
	height:0.24rem;
    margin: 0.1rem 0.28rem 0 0.36rem;
    line-height: 0.62rem;
}
.goods-price li li img:nth-child(2){
	position: absolute;
	width:0.4rem;
	height:0.57rem;
}
.goods-box li .ipt-more{
    padding: 0.08rem 0;
    font-size: 0.26rem;
    line-height: 0.38rem;
    width: 2rem;
    color: #555;
}
.check-n{
	width:0.24rem;
	height:0.24rem;
    margin: 0.16rem 0.28rem;
    position: absolute;
    left: 0;
    vertical-align: top;
	background: url(../images/checkbox.png) no-repeat center;
	background-size: 100% 100%;
}
.goods-price div{
    font-size: 0.20rem;
}
.goods-price .goods-p-s{
    font-size: 0.21rem;
}
.goods-price .goods-p-red{
	background-size: 0.3rem 0.44rem;
}
.goods-price .phonenumber{
    font-size: 0.25rem;
    line-height: 0.34rem;
    text-indent: 0.1rem;
    height: 0.6rem;
}
.margin-1{
	margin: 0.24rem 0  0;
}
.margin-2{
    margin: 0.34rem 0 0.14rem 0;
}
.content .g-special{
    right: 0.2rem;
    font-size: 0.24rem;
    line-height: 0.62rem;
}
.goods-price .goods-list{
}
.goods-price .user{
	height:0.62rem;
}
.base-ipt{
    padding: 0.06rem 0;
    font-size: 0.24rem;
    text-indent: 0.1rem;
    line-height: 0.33rem;
    background-size: 0.36rem 0.2rem;
}
.goods-box .base-password{
        padding: 0.04rem 0;
    font-size: 0.24rem;
    line-height: 0.36rem;
    text-indent: 0.1rem;
    background-size: 0.36rem 0.2rem;
}
.goods-price .sub-list{
    height: 100%;
}
.btn-one{
    margin: 0.32rem 0;
}
.content-one{
    margin: 0 0 1.1rem; 
}
.order{
    min-height: 0.5rem;
    border-bottom: 0.01rem dashed #D6D6D6;
    margin: 0 0 0.15rem;
}
.order-tt{
    height: 0.8rem;
    font-size: 0.32rem;
    padding-top: 0.08rem;
    line-height: 0.7rem;
}
.order-number{
    height: 0.64rem;
    padding: 0 0 0 0.14rem;
    font-size: 0.22rem;
    line-height: 0.64rem;
}
.order-number span{
    font-size: 0.2rem;
}
.btn-copy{
    width: 0.5rem;
    border-radius: 0.04rem;
    font-size: 0.2rem;
    display: inline;
}

.btn-c-card{
    border: 1px solid #E47A7A;
    line-height: 0.3rem;
    border-radius:  0.08rem;
}
.btn-c-top{
    border: 0.02rem solid #bbb;
    line-height: 0.3rem;
    margin: 0.15rem 0;
}
span+img{
    margin: 0 0 -0.06rem 0.2rem;
    width: 0.3rem;
    height: 0.3rem;
}
.order-public{
    height: 0.5rem;
    font-size: 0.22rem;
    line-height: 0.5rem;
    text-indent: 0.4rem;
}
.order-public span{
    font-size: 0.2rem;
}
.order-public-1{
    min-height:2rem;
}
.order-name,.order-price,.order-time{
	height:0.75rem;
	line-height: 0.75rem;
	font-size: 0.24rem;
	padding-left:0.74rem ;
}
.order-name{
    border-bottom: 0.02rem dotted #efe1e1;
    background-size: 0.3rem 0.28rem;
}
.order-name span{
    font-size: 0.24rem;
}
.order-price{
    border-bottom:0.02rem dotted #efe1e1;
    background-size:0.3rem 0.3rem;
}
.order-price span{
    font-size:0.24rem;
}
.order-detail{
    width: 1.1rem;
    top: 2.26rem;
    right: 0.24rem;
    font-size: 0.22rem;
    line-height: 0.44rem;
    border-radius: 0.08rem;
    -moz-border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
}
.order-triangle{
    margin: 0 0.8rem 0 0;
    padding: 0 0.02rem 0 0;
    border-bottom: 0.2rem solid #F7EEE1;
    border-left: 0.14rem solid transparent;
    border-right: 0.14rem solid transparent;
}
.order-detail-1{
    height: 2.20rem;
    margin: 0.2rem 5%;
    padding: 0.1rem 0.3rem;
    border-radius:0.3rem;
    -moz-border-radius: 0.3rem;
    -webkit-border-radius:0.3rem;
    font-size: 0.24rem;
    line-height: 0.24rem;
    text-indent: 0.2rem;
}
.order-time{
    margin-bottom: 0.02rem;
    background-size: 0.28rem 0.28rem;
}
.order-time span{
    font-size: 0.24rem;
}
.order-status{
    right:0.26rem;
    top: 0.12rem;
    font-size: 0.23rem;
    line-height: 0.4rem;
    border-radius: 0.08em;
    -moz-border-radius: 0.08rem;
    -webkit-border-radius: 0.08rem;
}
.o-u-name{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-u-name span{
    font-size:0.18rem;
    line-height:0.3rem;
}
.o-u-password{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-u-password span{
    font-size:0.18rem;
    line-height:0.3rem;
}
.o-u-phone{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-u-phone span{
    font-size:0.18rem;
    line-height:0.3rem;
}
.o-u-maker{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-u-maker span{
    font-size:0.18rem;
    line-height: 0.3rem;
    letter-spacing: 0.01rem;
    text-shadow:0.002rem 0.002rem #656565;
}
.o-p-name{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-p-name span{
    font-size:0.18rem;
    line-height: 0.3rem;
}
.o-p-type{
    margin: 0.14rem 0;
    font-size: 0.21rem;
    border-left: 0.04rem dotted #d99901;
    border-right: 0.04rem dotted #d99901;
    line-height: 0.3rem;
    word-spacing: 0.1rem;
    text-indent: 0.2rem;
}
.o-p-type span{
    font-size: 0.18rem;
    line-height: 0.3rem;
}
.goods-d-box{
}
.goods-price .goods-p-n{
    width: 1.26rem;
}
.goods-price .goods-p-n .goods-p-n-1{
    width: 0.6rem;
}
.bd-g-s-detail{
    width:100%;
    height:auto;
}
.slideBox{
    height: auto;
    overflow: hidden;
    position: relative;
    margin: 0.04rem 0 0.2rem;
  }
.slideBox .hd{
      height:0.4rem; 
      overflow:hidden; 
      position:absolute; 
      right:50%;
      margin-right:-1.04rem;
      cursor: pointer;
      bottom:0.1rem; 
      z-index:1;
}
.slideBox .hd ul{
     overflow:hidden; 
     zoom:1;
     float:left;  
}
.slideBox .hd ul li{
    float:left;
     margin-right:0.1rem;
     width:0.4rem; 
     height:0.4rem;
     background: url(../images/checkbox.png) no-repeat center;
     background-size: 80% 80%;
     cursor:pointer;
 }
.slideBox .hd ul li.on{
     background: url(../images/dot_1@2x.png) no-repeat center;
     background-size: 120% 120%;
}
.slideBox .bd{
     position:relative;
     height:100%;
     margin:0 auto 0.4rem;
     z-index:0;  
}
.slideBox .bd li{ 
   width: 50%;
    float: left;
    zoom: 1;
    vertical-align: middle;
}
.slideBox .bd img{
	width: 90%;
	margin: auto;
    display:block;  
}

.slideBox .prev,
.slideBox .next{ 
   position: absolute;
    left: 1%;
    top: 50%;
    margin-top: -0.5rem;
    display: block;
    width: 0.64rem;
    height: 0.8rem;
    background: url(../images/slider-arrow.png) -3.4rem 0.1rem no-repeat;
    filter: alpha(opacity=70);
    opacity: 0.5;
}
.slideBox .next{
    left: auto;
    right: 1%;
    background-position: -1rem 0.1rem; 
}

        .slideBox .prev:hover,
        .slideBox .next:hover{ filter:alpha(opacity=100);opacity:1;  }
        .slideBox .prevStop{ display:none;  }
        .slideBox .nextStop{ display:none;  }
.ft-ad{
    width:100%;
    height:1rem;
}
.bd-n {
    margin-bottom: 0.8rem;
}
















.hd-phone{
    width: 100%;
    background-color: #EFEFEF;
    padding: 0 0 0.12rem;
}
.hd-name{
    width: 100%;
    height:auto;
    background-color: #fff;
}
.hd-p-content>img{
    width: 100%;
}
.hd-p-message{
    width: 100%;
    padding: 0.1rem 0.2rem 0.02rem;
    background-color: #fff;
    border-top: 1px solid #bbb;
}
.hd-p-name{
    font-size: 0.24rem;
    line-height: 0.35rem;
    color: #333;
    font-weight: 700;
    letter-spacing: 0.009rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.hd-p-name>span{
    float: left;
    height: 0.27rem;
    margin: 0.04rem 0.1rem 0 0;
    padding: 0 0.1rem;
    font-size: 0.2rem;
    line-height: 0.27rem;
    color: #fff;
    background-color: #FF9191;
    border-radius: 0.1rem;
}
.hd-p-public{
    float: left;
    width: 0.8rem;
    height:0.65rem;
    line-height: 0.65rem;
    color: #aaa;
    overflow: hidden;
    font-size: 0.2rem;
    text-align: left;
}
.hd-p-price,.hd-p-red{
    padding-left: 0.8rem;
}
.hd-p-price{
    color: #FD4848;
    font-size: 0.4rem;
    line-height: 0.65rem;
    text-align: left;
    border-bottom: 1px solid #eee;
}
.hd-p-red{
    color: #888;
    font-size: 0.23rem;
    line-height: 0.65rem;
    text-align: left;
}
.hd-p-red>img{
    float: left;
    margin: 0.21rem 0.12rem 0 0.1rem;
    width: 0.22rem;
    height: 0.26rem;
}
.hd-p-red span{
    margin: 0 0.1rem;
    color:#666;
    font-size: 0.28rem;
}
.bd-phone{
    width: 100%;
    background-color: #fff;
}
.bd-p-type{
    width: 100%;
    height: auto;
    padding: 0.1rem 0.2rem 0.1rem;
}
.bd-p-btn{
    margin: 0.05rem 0.12rem 0.05rem 0;
    padding: 0 0.15rem;
    font-size: 0.22rem;
    line-height: 0.50rem;
    color: #232323;
    background-color: #f2f2f2;
    border-radius: 0.15rem;
}
.bd-p-color,.bd-p-edition,.bd-p-memory,.bd-p-number{
    position: relative;
    width: 100%;
    padding: 0 0 0.07rem 0.8rem;
    display: block;
}
.bd-c-btn.active,.bd-e-btn.active,.bd-m-btn.active{
    color: #fff;
    background-color: #FF7474;
}
.ipt-p-minus{
    position: relative;
    margin: 0.1rem 0;
    width: 0.42rem;
    height: 0.42rem;
    background: url(../images/ico_minus.png) no-repeat right;
    background-size: 0.4rem 0.4rem;
}
.ipt-p-main{
    width: 1.5rem;
    height: 0.42rem;
    left: 1.4rem;
    top: 0.12rem;
    position: absolute;
    padding: 0.06rem 0;
    line-height: 0.30rem;
    font-size: 0.25rem;
    color: #555;
    text-align: center;
    border: 1px solid #ddd;
}
.ipt-p-plus{
    position: relative;
    margin: 0.1rem 0;
    width: 0.42rem;
    height: 0.42rem;
    margin-left: 1.8rem;
    background: url(../images/ico_plus.png) no-repeat left;
    background-size: 0.4rem 0.4rem;
}

.bd-p-more{
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    font-size: 0.18rem;
    line-height: 0.45rem;
    border-top: 2px solid #eee;
}
.bd-p-moreback {
    display: none;
    width: 100%;
    text-align: center;
    background-color: #fafafa;
    font-size: 0.15rem;
    line-height: 0.4rem;
}
.bd-p-message{
    display: none;
    width: 100%;
    height: auto;
    padding: 0.12rem 0.2rem 0;
    text-indent: 0.1rem;
    color: #777;
    font-size: 0.25rem;
    line-height: 0.5rem;
    word-break: break-all;
    border-top: 2px solid #eee;
    background-color: #fbfbfb;
}




















}